p {
  font-weight: 300;
}

a, a:focus, a:hover, a:active {
  color: #00afd7;
}

h1, h2, h3 {
  font-family: "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 12px 0;
}
h1 {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: .02em;
  line-height: 48px;
  margin: 12px 0;
}
h2 {
  color: #2a333c;
  font-weight: 400;
  font-size: 21px;
}
h3 {
  color: rgb(84, 102, 120);
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.28px;
  line-height: 29.39px;
}

.btn {
  background: transparent;
  border: 1px solid white;
}

.keen-logo {
  height: 38px;
  margin: 0 15px 0 0;
  width: 150px;
}

.navbar-toggle {
  background-color: rgba(255,255,255,.25);
}
.navbar-toggle .icon-bar {
  background: #fff;
}


.navbar-nav {
  margin: 5px 0 0;
}
.navbar-nav > li > a {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0.03em;
  padding-top: 19px;
  text-shadow: 0 0 2px rgba(0,0,0,.1);
}
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  background: transparent none;
}

.navbar-nav > li > a.navbar-btn {
  background-color: rgba(255,255,255,.25);
  border: medium none;
  padding: 10px 15px;
}
.navbar-nav > li > a.navbar-btn:focus,
.navbar-nav > li > a.navbar-btn:hover {
  background-color: rgba(255,255,255,.35);
}
.navbar-collapse {
  box-shadow: none;
}

.masthead {
  background-color: #00afd7;
  background-image: url("../img/bg-bars.png");
  background-position: 0 -290px;
  background-repeat: repeat-x;
  color: #fff;
  margin: 0 0 24px;
  padding: 20px 0;
}
.masthead h1 {
  margin: 0;
}
.masthead small,
.masthead a,
.masthead a:focus,
.masthead a:hover,
.masthead a:active {
  color: #fff;
}
.masthead p {
  color: #b3e7f3;
  font-weight: 100;
  letter-spacing: .05em;
}



.hero {
  background-position: 50% 100%;
  min-height: 450px;
  text-align: center;
}
.hero h1 {
  font-size: 48px;
  margin: 120px 0 0;
}
.hero .lead {
  margin-bottom: 32px;
}

.hero .hero-btn-group {
  margin: 0 auto 10px;
  text-align: center;
}

.hero a.hero-btn:first-child {
  margin-right: 10px;
}

.hero a.hero-btn {
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid #fff;
  font-family: "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
}

.hero a.hero-btn.primary {
  background-color: rgba(255,255,255,.25);
  border: medium none;

  padding-left: 40px;
  padding-right: 40px;
}


.hero a.hero-btn:focus,
.hero a.hero-btn:hover {
  border-color: transparent;
  background-color: #fff;
  color: #00afd7;
}

.hero a.hero-btn.primary:hover,
.hero a.hero-btn.primary:focus {
  background-color: rgba(255,255,255,.35);
  color: #fff;
}

.sample-item {
  margin-bottom: 24px;
}

.signup {
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px;
  margin-right: 10px;
}

.platforms {
  background: #F3F5F6;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.platforms h2 {
  padding-bottom: 15px;
}

.platforms ul {
  margin-bottom: 0px;
}

.platforms ul li {
  padding-left: 50px;
  padding-right: 50px;

  max-width: 250px;
}

.examples {
  padding-top: 15px;
  margin-top: 15px;
}

.examples .example .code {
  /*background: #F3F5F6;*/
}

.examples .example .chart {

}

pre {
  background: #f8f8f8 !important;
  max-height: 300px;
  overflow-y: scroll;
}

pre, code {
  padding-top: 0;
  padding-bottom: 0;
}

.cta {
  background: #00afd7;
  color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.cta > * {
  max-width: 650px;
  margin: 0 auto;
}

.cta a.btn {
  display: inline-block;
  border: 2px solid #fff;
  font-family: "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #fff;
}

.cta a.btn:focus,
.cta a.btn:hover {
  border-color: transparent;
  background-color: #fff;
  color: #00afd7;
}


.love {
  /*border-top: 1px solid #d7d7d7;*/
  color: #546678;
  margin: 20px 0 0;
  padding: 15px 0;
  text-align: center;
}

.love p {
  margin-bottom: 0;
}


.navbar.floating {
  background: white;
  padding-bottom: 5px;
}

.navbar.floating .navbar-brand {
  display: none;
}

.navbar.floating .navbar-brand.navbar-floating-logo {
  visibility: visible !important;
  display: block !important;
}

.navbar.floating a, .navbar.floating * {
  color: #00afd7;
}


.navbar.floating a.btn {
  border: 2px solid #00afd7;
}

.navbar.floating a.btn:hover,
.navbar.floating a.btn:focus {
  background: #00afd7;
  color: #fff;
}
